root = true

[*.{kt,kts}]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
max_line_length = 120
end_of_line = lf
trim_trailing_whitespace = true

# Ktlint rules
ktlint_disabled_rules=filename
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_allow_trailing_comma = true

[*.{yml,yaml}]
indent_size = 2